:root{
    --cor-primaria: #43bd8e;
    --cor-secundaria: #fD6c22;
    --cor-branca: #f8f8f8;
    --cor-fundo-escuro: #040203;
    --cor-fundo-cinza-escuro: #1c1c1c;
    --cor-fundo-cinza-claro: #434343;
    --cor-vermelha: #db411b;
}